In [1]:
# Librairie Os pour les chemins de fichiers et variables d'environnement
import os
# Librairie csv pour créer et lire le format csv
import csv
import pandas as pd
import numpy as np

LIRE LES CSV

In [2]:
df_loc = pd.read_csv('Data/Sources/NO2 02-03-2020_01-03-2021 JOURNALIER.csv', sep=';', engine='python', encoding='utf-8')

In [3]:
df2_loc = pd.read_csv('Data/Sources/PM10 02-03-2020_01-03-2021 JOURNALIER.csv', sep=';', engine='python', encoding='utf-8')

In [4]:
df = pd.read_csv('Data/Sources/Journalier 011219_010320 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [5]:
df2 = pd.read_csv('Data/Sources/Journalier 011219_010320 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [6]:
df3 = pd.read_csv('Data/Sources/Journalier 010919_311119 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [7]:
df4 = pd.read_csv('Data/Sources/Journalier 010919_311119 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [8]:
df5 = pd.read_csv('Data/Sources/Journalier 010919_311119 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [9]:
df6 = pd.read_csv('Data/Sources/Journalier 010919_311119 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [10]:
df7 = pd.read_csv('Data/Sources/Journalier 010619_300819 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [11]:
df8 = pd.read_csv('Data/Sources/Journalier 010619_300819 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [12]:
df9 = pd.read_csv('Data/Sources/Journalier 010319_310519 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [13]:
df10 = pd.read_csv('Data/Sources/Journalier 010319_310519 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [14]:
df11 = pd.read_csv('Data/Sources/Journalier 020320_300620 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [15]:
df12 = pd.read_csv('Data/Sources/Journalier 020320_300620 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [16]:
df13 = pd.read_csv('Data/Sources/Journalier 010720_291020 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [17]:
df14 = pd.read_csv('Data/Sources/Journalier 010720_291020 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [18]:
df15 = pd.read_csv('Data/Sources/Journalier 301020_270221 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [19]:
df16 = pd.read_csv('Data/Sources/Journalier 301020_270221 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [20]:
df17 = pd.read_csv('Data/Sources/Journalier 280221_130321 PM10.csv', sep=';', engine='python', encoding='utf-8')

In [21]:
df18 = pd.read_csv('Data/Sources/Journalier 280221_130321 NO2.csv', sep=';', engine='python', encoding='utf-8')

In [22]:
df_indice = pd.read_csv('Data/Sources/indices2.csv', sep=';', engine='python', encoding='utf-8')

In [23]:
df_poll = pd.read_csv('Data/Sources/Polluants.csv', sep=';', engine='python', encoding='utf-8')

In [24]:
df10.head()

,nom_departement,nom_zone,nom_station,code_station,polluant,niveau,unite,mesure,etat,date,TZ
0,Maine et Loire,Angers,Beaux Arts,120,NO2,18.0,microg/m3,moyenne journalière,V,2019-03-01,UTC
1,Maine et Loire,Angers,Beaux Arts,120,NO2,10.0,microg/m3,moyenne journalière,V,2019-03-02,UTC
2,Maine et Loire,Angers,Beaux Arts,120,NO2,5.0,microg/m3,moyenne journalière,V,2019-03-03,UTC
3,Maine et Loire,Angers,Beaux Arts,120,NO2,9.0,microg/m3,moyenne journalière,V,2019-03-04,UTC
4,Maine et Loire,Angers,Beaux Arts,120,NO2,14.0,microg/m3,moyenne journalière,V,2019-03-05,UTC

### MESURES JOURNALIERES : 2019 / 2021

In [25]:
concat_journalier = pd.concat((df,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18))
concat_journalier.to_csv(r'Data/Journalier 2020-2021.csv', index = False, sep = ';', encoding='utf-8')

In [26]:
concat_journalier.head(1)

,nom_departement,nom_zone,nom_station,code_station,polluant,niveau,unite,mesure,etat,date,TZ
0,Maine et Loire,Angers,Beaux Arts,120,PM10,15.0,microg/m3,moyenne journalière,V,2019-12-01,UTC

In [27]:
Update_Journalier = concat_journalier.drop(columns=['nom_departement', 'nom_zone', 'nom_station', 'mesure','TZ'])
Journalier = Update_Journalier.rename(columns = {'niveau' : 'valeur', 'etat' : 'statut_valid'})
#Journalier.insert(0, 'id_journalieres', '')

In [28]:
print(Journalier.head())

   code_station polluant  valeur      unite statut_valid        date
0           120     PM10    15.0  microg/m3            V  2019-12-01
1           120     PM10    11.0  microg/m3            V  2019-12-02
2           120     PM10    21.0  microg/m3            V  2019-12-03
3           120     PM10    30.0  microg/m3            V  2019-12-04
4           120     PM10    28.0  microg/m3            V  2019-12-05

In [29]:
Journalier['statut_valid'].replace(['V','B', None],[True, True, False], inplace=True)

In [30]:
Journalier['Année'] = pd.DatetimeIndex(Journalier['date']).year
Journalier['Mois'] = pd.DatetimeIndex(Journalier['date']).month

In [31]:
Journalier.head(1)

,code_station,polluant,valeur,unite,statut_valid,date,Année,Mois
0,120,PM10,15.0,microg/m3,True,2019-12-01,2019,12

In [32]:
Journalier.to_csv(r'Data/Journalier.csv', index = False, sep = ';', encoding='utf-8')

In [33]:
Journalier.code_station.unique()

array([120, 107, 177, 188,  70,  78, 110, 238, 152, 140, 239, 123, 178,
       182,  68, 124, 181,   3,  75, 150,  46, 174,   1, 153, 249],
      dtype=int64)

### LOCALISATION

In [34]:
concat_journalier = pd.concat((df_loc,df2_loc))
concat_journalier.to_csv(r'Data/Sources/Journalier 2020-2021.csv', index = False, sep = ';', encoding='utf-8')

In [35]:
Extract_Localisation_2 = concat_journalier.drop(columns = ['nom_poll', 'valeur', 'unite', 'metrique', 'date_debut', 'statut_valid', 'id_poll_ue', 'date_fin', 'source'])
Localisation_2 = Extract_Localisation_2.rename(columns = {'nom_dept' : 'nom_departement'})

In [36]:
Localisation_2['code_station'].replace(['FR23001','FR23003','FR23046','FR23068','FR23070','FR23075','FR23078','FR23107','FR23110','FR23120','FR23123','FR23124','FR23140','FR23150','FR23152','FR23153','FR23174','FR23177','FR23181','FR23182','FR23188','FR23238','FR23239','FR23178'], ['1', '3', '46', '68', '70', '75', '78', '107', '110', '120', '123', '124', '140', '150', '152', '153', '174', '177', '181', '182', '188', '238', '239', '178'],  inplace=True)

In [37]:
Localisation = Localisation_2.drop_duplicates('code_station')

In [38]:
Localisation.code_station.unique()

array(['1', '3', '46', '68', '70', '75', '78', '107', '110', '120', '123',
       '124', '140', '150', '152', '153', '174', '177', '181', '182',
       '188', '238', '239', '178'], dtype=object)

In [39]:
Localisation.to_csv(r'Data/Localisation.csv', index = False, sep = ';', encoding='utf-8')

TABLE LOCALISATION : CONCAT_LOCALISATION

In [40]:
print(Localisation.head(1))

    nom_departement nom_com  code_insee_com nom_station code_station  \
0  Loire-Atlantique  Donges           44052      Ampère            1

  typologie  x_reglementaire  y_reglementaire
0  suburban    316466.782211     6.703891e+06

### INDICES

In [41]:
Indices = df_indice.drop(columns=['source', 'date_diffusion'])

In [42]:
print(Indices.head(1))

   code_zone          lib_zone              date_echeance                etat  \
0         44  Loire-Atlantique  2021-03-04 23:00:01+00:00  PAS DE DEPASSEMENT

  polluant
0      NO2

In [43]:
Indices.to_csv(r'Data/Indices.csv', index = False, sep = ';', encoding='utf-8')